<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kommunevalg 2021!</title>

    <link href="../static/style/index.css" rel="stylesheet">

</head>
<body>

    <section class="background_section">
        <h1>Samsø kommunevalg 2021!</h1>

        <section class="content_section">

            <div id="contentDiv"></div>

            <section class="button_section">
                <button id="showAllCandidatesBtn">Se alle kandidater</button>
            </section>
        </section>
    </section>
    <script type=text/javascript src="../static/javascript/index.js"></script>
</body>
</html>